@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  background-color: #f7f7f7;
  font-weight: 300;
  overflow-x: hidden;
  color: #333;
  min-height: 100vh;
}

/* HOMEPAGE */
div.home {
  position: relative;
  background-color: #d6dada;
  width: 100%;
  min-height: 100vh;

  display: flex;
  align-items: center;
}

/* div.circle {
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 30px;
} */

/* HEADER */
header {
  position: absolute;
  top: 5%;
  font-size: 2rem;
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

a.links-home,
a.links-home:active,
a.links-home:visited {
  color: #333;
  text-decoration: none;
  margin-right: 15px;
}

a.links-home:hover {
  text-decoration: #333;
  text-decoration: underline;
}

nav {
  position: absolute;
  right: 100px;
}

div.about-link {
  height: 100%;
  background-color: #4a5d5a;
  padding-top: 5%;
  position: absolute;
  right: 0;
  top: 0;
  min-height: 100vh;
  width: 150px;
}

/* WEATHER API */
span.weather {
  font-size: 1.2rem;
  position: absolute;
  top: 2.5rem;
  left: 20rem;
  padding: 5px;
  line-height: 1.6;
  font-style: italic;
  letter-spacing: 0.1em;
  animation: fadeIn 2.5s;
}

span.weather-mobile {
  font-size: 1rem;
  position: absolute;
  top: 8rem;
  left: 0;
  padding: 5px;
  font-style: italic;

  display: none;
  z-index: 1000;

  animation: fadeIn 2s;
}

@media (min-width: 1900px) {
  span.weather {
    font-size: 1.5rem;
  }
}

@media (max-width: 900px) {
  span.weather {
    display: none;
  }

  span.weather-mobile {
    display: block;
  }
}

@media (max-width: 700px) {
  span.weather-mobile {
    top: 60%;
  }
}

@media (max-height: 500px) {
  span.weather-mobile {
    top: 85%;
  }
}

/* ABOUT */
div.about-container {
  width: 400px;
  min-height: 96vh;
  background-color: blue;
  position: absolute;
  right: 30px;
  top: 0;
  color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  z-index: 1000;

  transform: translate(400px, 0);
  transition: transform 0.5s;
}

div.about-container.show {
  transform: translate(30px, 0);
}

section.about {
  margin-left: 25px;
}

div.close {
  font-size: 2rem;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
}

div.close:hover {
  color: #fff;
}

p.about-text {
  font-size: 1.6rem;
  text-align: center;
  margin-right: 10px;
}

a.links-about {
  color: #fff;
  text-decoration: none;
}

a.links-about:hover,
a.links-about:visited {
  color: #fff;
  text-decoration: underline;
}

/* PROJECT - INDEX */
div.projects-index {
  width: 100%;
  margin-left: 50px;
  margin-right: 50px;
  font-size: 3.5rem;
  bottom: 90px;
  line-height: 1.5;
  z-index: 2;
  position: absolute;
}

.project {
  font-size: 2rem;
}

a.project-index-links,
a.project-index-links:active,
a.project-index-links:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}

a.project-index-links:hover {
  color: blue;
  text-decoration: none;
  cursor: pointer;
}

/* PROJECTS */
div.projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
  /* background-color: #cfd9df; */
  background-color: #f7f7f7;
}

/* HOVER IMAGE EFFECT */
img.color-spot {
  display: none;
  width: 400px;
  height: auto;
  position: absolute;
  /* top: 20%; */
  top: 13%;

  left: 50%;
  transform: translate(-50%, 50%);

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

/* BLACK STRIP BTW HOME AND PROJECTS */

div.black-strip {
  width: 100%;
  background-color: #333;
  height: 4vh;
  position: absolute;
  bottom: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

/* PROJECTS */
div.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

@media (max-width: 960px) {
  div.projects-wrapper {
    padding-top: 50px;
  }
}

div.project-first {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  border: none;

  color: #333;
  border-top: none;
  border-left: 30px solid #4a5d5a;
  border-right: 30px solid #4a5d5a;
  border-bottom: none;
}

div.project-2 {
  display: flex;
  width: 100%;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;

  border-top: 10px solid #4a5d5a;
  border-left: 30px solid #4a5d5a;
  border-right: 30px solid #4a5d5a;
  border-bottom: none;
  color: #333;
}

div.image-project-container {
  width: 90%;
  margin-top: 70px;
  margin-bottom: 40px;

  display: flex;
  align-items: center;
  overflow-x: scroll;
}

img.image-project {
  width: 550px;
  height: auto;
  margin-left: 45px;
  margin-right: 45px;
  margin-bottom: 30px;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

div.image-project-container::-webkit-scrollbar {
  width: 1em;
}

div.image-project-container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

div.image-project-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  outline: 1px solid grey;
}

div.image-project-container::-webkit-scrollbar:vertical {
  display: none;
}

p.description {
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  border: 1px solid #333;
  padding: 20px;
}

a.website-link,
a.website-link:visited {
  text-decoration: underline;
  color: #333;
}

a.website-link:hover {
  text-decoration: none;
}

div.project-last {
  width: 100%;
  min-height: 100vh;

  color: #fff;
  line-height: 1.5;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-top: 10px solid #4a5d5a;
  border-left: 30px solid #4a5d5a;
  border-right: 30px solid #4a5d5a;
  border-bottom: none;
  padding-bottom: 100px;
}

/* FOOTER */
footer {
  background-color: #d6dada;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 30vh;

  color: #333;
  font-size: 1.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: none;
}

a.link-footer,
a.link-footer:visited,
a.top,
a.top:visited,
a.top-mobile,
a.top-mobile:visited {
  color: #333;
  text-decoration: none;
}

a.link-footer:hover,
a.link-footer:active,
a.top:hover,
a.top:active,
a.top-mobile:hover,
a.top-mobile:active {
  color: #fff;
}

a.top {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 700px) {
  a.top {
    display: none;
  }
}

a.top-mobile,
a.top-mobile:visited {
  position: absolute;
  bottom: 0.5rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  z-index: 1;
  display: none;
}

@media (max-width: 700px) {
  a.top-mobile {
    display: block;
  }
}
