@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  scroll-behavior: smooth;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 300;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: #2b2b2b;
  background-color: #ececec;
}

/* TEMPORARY PAGE */
div.temp {
  background-color: #4a5d5a;
  color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 300;
}

/* HOMEPAGE */
div.home {
  position: relative;
  background-color: #ececec;
  width: 100%;
  min-height: 100vh;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 2%;
  -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

/* HEADER */
header {
  position: absolute;
  top: 0;
  font-size: 2.5rem;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #ececec;
  z-index: 1000;
}

span.name {
  position: absolute;
  left: 30px;
}

@media (max-width: 600px) {
  header {
    font-size: 2rem;
  }

  span.name {
    left: 15px;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  header {
    font-size: 1.5rem;
  }
}

@media (min-width: 2000px) {
  header {
    font-size: 5rem;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1.5rem;
  }
}

a.links-home,
a.links-home:active,
a.links-home:visited {
  color: #333;
  text-decoration: none;

  position: absolute;
  right: 30px;
}

a.links-home:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 700px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 1.5rem;
  }
}

@media (max-width: 400px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited,
  header {
    font-size: 1.5rem;
  }
}

@media (min-width: 2000px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 5rem;
  }
}

/* WEATHER API */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.weather {
  font-size: 1.5rem;
  margin-top: 20px;
  animation: fadeIn 2.5s;

  display: flex;
  align-items: center;
  text-align: center;
}

@media (min-width: 2000px) {
  span.weather {
    font-size: 3.5rem;
  }
}

/* ABOUT */
div.about-container {
  width: 430px;
  min-height: 100%;

  position: absolute;
  right: -10px;
  top: 0;

  background-color: #2b2b2b;
  color: #f7f7f7;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);

  transform: translate(440px, 0);
  transition: transform 0.5s;
  z-index: 1000;
}

@media (max-width: 1030px) {
  div.about-container {
    width: 100%;
    transform: translate(100%, 0);
    transition: transform 0.9s;
  }
}

@media (min-width: 2000px) {
  div.about-container {
    width: 500px;
    transform: translate(500px, 0);
    transition: transform 0.7s;
  }
}

div.about-container.show {
  transform: translate(-10px, 0);
}

section.about {
  padding-left: 30px;
  padding-right: 60px;
}

div.close {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 20px;

  cursor: pointer;
  text-align: center;
  color: #ccc;
}

div.close:hover {
  color: #333;
}

p.about-text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;
  color: #ccc;

  margin: 0;
  padding-top: 5px;
}

@media (max-width: 350px) {
  p.about-text {
    font-size: 1.3rem;
  }
}

@media (max-height: 400px) {
  p.about-text {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  p.about-text {
    font-size: 2rem;
  }
}

a.links-about,
a.links-about:active,
a.links-about:visited {
  color: #ccc;
  text-decoration: none;
}

a.links-about:hover {
  color: #333;
  text-decoration: none;
}

/* PROJECT - INDEX */
div.projects-index {
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 20px;
}

span.project {
  font-size: 2rem;
  display: block;
}

a.project-index-links,
a.project-index-links:active,
a.project-index-links:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;

  font-size: 3rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  z-index: 100;
  opacity: 0.7;
}

.break::after {
  content: "\a";
  white-space: pre;
}

@media (max-width: 965px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited {
    font-size: 2.5rem;
  }
}

@media (max-width: 600px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 2rem;
  }

  div.projects-index {
    padding-bottom: 100px;
  }
}

@media (max-width: 400px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1.5rem;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1.5rem;
  }
}

@media (min-width: 2000px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 6rem;
  }
}

a.project-index-links:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  opacity: 1;
}

/* PROJECTS CONTAINER */
div.projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
}

div.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.project-first {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  color: #333;

  border-bottom: 1px solid #2b2b2b;
}

div.project-2 {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-bottom: 1px solid #2b2b2b;
  color: #333;
}

div.project-last {
  width: 100%;
  min-height: 100vh;

  line-height: 1.5;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding-bottom: 100px;
}

@media (max-width: 1030px) {
  div.image-project-container {
    width: 90%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1200px) {
  div.image-project-container-magazine {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

video,
video.threeten,
video.fiveforty {
  -webkit-box-shadow: 1px 1px 19px 2px rgba(51, 51, 51, 0.7);
  box-shadow: 1px 1px 19px 2px rgba(51, 51, 51, 0.7);
  width: 600px;
  height: auto;
}

video.threeten {
  margin-left: 40px;
}

@media (max-width: 1200px) {
  video.threeten {
    margin-top: 40px;
  }
  video.threeten {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 450px;
    height: auto;
  }
}

@media (min-width: 1900px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 1000px;
    height: auto;
  }
}

@media (max-width: 750px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 500px;
    height: auto;
  }
}

@media (max-width: 615px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 500px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 400px;
    height: auto;
  }
}

@media (max-width: 420px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 350px;
    height: auto;
  }
}

@media (max-width: 350px) {
  video,
  video.threeten,
  video.fiveforty {
    width: 250px;
    height: auto;
  }
}

p.description {
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  padding-bottom: 20px;
}

@media (max-width: 800px) {
  p.description {
    width: 80%;
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  p.description {
    width: 100%;
  }
}

@media (min-width: 2000px) {
  p.description {
    font-size: 2rem;
  }
}

a.website-link,
a.website-link:visited {
  text-decoration: underline;
  color: #333;
}

a.website-link:hover {
  text-decoration: none;
}

/* FOOTER */
footer {
  background-color: #2b2b2b;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 30vh;

  color: #ccc;
  font-size: 1.5rem;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);

  padding: 15px;
  margin-top: 40px;
}

a.link-footer,
a.link-footer:visited,
a.top,
a.top:visited,
a.top-mobile,
a.top-mobile:visited {
  color: #ccc;
  text-decoration: none;
}

a.link-footer:hover,
a.link-footer:active,
a.top:hover,
a.top:active,
a.top-mobile:hover,
a.top-mobile:active {
  color: #333;
}

a.top {
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: 2000px) {
  footer {
    font-size: 3.5rem;
  }
}
