@import-normalize;

@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Questrial", sans-serif;
  font-weight: 300;

  width: 100%;
  min-height: 100vh;

  margin: 0;
  padding: 0;
  overflow-x: hidden;

  color: #333;
  background-color: #f7f7f7;
}

/* TEMPORARY PAGE */
div.temp {
  background-color: #4a5d5a;
  color: #f7f7f7;
  width: 100%;
  height: 100%;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Questrial", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 300;
}

/* HOMEPAGE */
div.home {
  position: relative;
  background-color: #d6dada;
  width: 100%;
  min-height: 100vh;

  overflow: hidden;
}

/* HEADER */
header {
  position: relative;

  font-size: 2rem;
  width: 100%;
  height: 100px;

  display: flex;
  align-items: center;
}

span.name {
  font-size: 2rem;
  position: absolute;
  left: 30px;
}

@media (max-width: 700px) {
  span.name {
    font-size: 1.5rem;
    left: 15px;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  span.name {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  span.name {
    font-size: 3.5rem;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1rem;
  }
}

a.links-home,
a.links-home:active,
a.links-home:visited {
  color: #333;
  text-decoration: none;

  position: absolute;
  right: 50px;
  margin-right: 10px;
}

a.links-home:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 700px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 1.5rem;
    margin-right: 0;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  a.links-home,
  a.links-home:active,
  a.links-home:visited {
    font-size: 3.5rem;
  }
}

/* WEATHER API */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

span.weather {
  font-size: 1.5rem;
  margin-top: 20px;
  animation: fadeIn 2.5s;

  display: flex;
  align-items: center;
  text-align: center;
}

@media (min-width: 2000px) {
  span.weather {
    font-size: 3.5rem;
  }
}

/* ABOUT */
div.about-container {
  width: 350px;
  min-height: 100%;

  position: absolute;
  right: 30px;
  top: 0;

  background-color: #4a5d5a;
  color: #f7f7f7;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);

  transform: translate(350px, 0);
  transition: transform 0.5s;
  z-index: 1000;
}

@media (max-width: 1030px) {
  div.about-container {
    width: 100%;
    transform: translate(100%, 0);
    transition: transform 0.9s;
  }
}

@media (min-width: 2000px) {
  div.about-container {
    width: 500px;
    transform: translate(500px, 0);
    transition: transform 0.7s;
  }
}

div.about-container.show {
  transform: translate(30px, 0);
}

section.about {
  margin-left: 30px;
  margin-right: 25px;
}

div.close {
  font-size: 2rem;
  margin-top: 10px;

  cursor: pointer;
  text-align: center;
}

div.close:hover {
  color: #333;
}

p.about-text {
  font-size: 1.5rem;
  line-height: 1.2;
  text-align: center;

  margin: 0;
  padding-top: 5px;
}

@media (max-width: 350px) {
  p.about-text {
    font-size: 1.3rem;
  }
}

@media (max-height: 400px) {
  p.about-text {
    font-size: 1rem;
  }
}

@media (min-width: 2000px) {
  p.about-text {
    font-size: 2rem;
  }
}

a.links-about,
a.links-about:active,
a.links-about:visited {
  color: #f7f7f7;
  text-decoration: none;
}

a.links-about:hover {
  color: #333;
  text-decoration: none;
}

/* PROJECT - INDEX */
div.projects-index {
  width: 100%;
  position: absolute;
  bottom: 50px;
  padding-left: 30px;
  line-height: 1.2;
}

@media (max-width: 450px) {
  div.projects-index {
    padding-right: 30px;
  }
}

span.project {
  font-size: 2rem;
  display: block;
}

div.circle {
  width: 20px;
  height: 20px;

  border: 1px solid #333;
  border-radius: 50%;
  display: inline-block;
  margin-right: 15px;
  margin-left: 15px;
  opacity: 0.7;
}

a.project-index-links,
a.project-index-links:active,
a.project-index-links:visited {
  color: #333;
  text-decoration: none;
  cursor: pointer;

  font-size: 2.7rem;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  z-index: 100;
  opacity: 0.7;
}

.break::after {
  content: "\a";
  white-space: pre;
}

@media (max-width: 965px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited {
    font-size: 2rem;
  }
}

@media (max-width: 400px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1.7rem;
  }

  div.projects-index {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
  }
  div.circle {
    display: none;
  }
}

@media (max-width: 700px) and (max-height: 380px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 1rem;
  }
  div.circle {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 2000px) {
  a.project-index-links,
  a.project-index-links:active,
  a.project-index-links:visited,
  span.project {
    font-size: 4rem;
  }
}

a.project-index-links:hover {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  opacity: 1;
}

/* HOVER IMAGE EFFECT */
div.hovereffect-container {
  width: 100%;
  height: 100%;
  padding-top: 6%;
  padding-bottom: 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1130px) {
  div.hovereffect-container {
    padding-top: 25%;
    padding-right: 30px;
  }
}

@media (max-width: 390px) {
  div.hovereffect-container {
    padding-top: 0;
    padding-right: 30px;
  }
}

/* BLACK STRIP BTW HOME AND PROJECTS */
div.black-strip {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 30px;
  background-color: #333;

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/* PROJECTS CONTAINER */
div.projects {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: #f7f7f7;
}

div.projects-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

div.project-first {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;

  color: #333;
}

div.project-2 {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 10px solid #d6dada;

  border-bottom: none;
  color: #333;
}

div.image-project-container {
  width: 90%;
  margin-top: 20px;

  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.margin-right {
  margin-right: 45px;
}

@media (max-width: 1030px) {
  div.image-project-container {
    width: 90%;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  img.image-project {
    margin-bottom: 30px;
  }

  .margin-right {
    margin-right: 0;
  }
}

img.image-project {
  width: 550px;
  height: auto;

  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  -o-box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.3);
}

@media (min-width: 2000px) {
  img.image-project {
    width: 700px;
  }
}

@media (max-width: 1200px) {
  img.image-project {
    width: 450px;
  }
}

@media (max-width: 600px) {
  img.image-project {
    width: 400px;
  }
}

@media (max-width: 500px) {
  img.image-project {
    width: 350px;
  }
}

@media (max-width: 450px) {
  img.image-project {
    width: 200px;
  }
}

p.description {
  width: 60%;
  text-align: center;
  font-size: 1.5rem;
  color: #333;
  line-height: 1.5;
  padding: 20px;
}

@media (max-width: 800px) {
  p.description {
    width: 80%;
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  p.description {
    width: 100%;
  }
}

@media (min-width: 2000px) {
  p.description {
    font-size: 2rem;
  }
}

a.website-link,
a.website-link:visited {
  text-decoration: underline;
  color: #333;
}

a.website-link:hover {
  text-decoration: none;
}

div.project-last {
  width: 100%;
  min-height: 100vh;

  line-height: 1.5;
  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  border-top: 10px solid #d6dada;
  padding-bottom: 100px;
}

/* FOOTER */
footer {
  background-color: #4a5d5a;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 30vh;

  color: #f7f7f7;
  font-size: 1.5rem;

  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8);

  padding: 15px;
}

a.link-footer,
a.link-footer:visited,
a.top,
a.top:visited,
a.top-mobile,
a.top-mobile:visited {
  color: #f7f7f7;
  text-decoration: none;
}

a.link-footer:hover,
a.link-footer:active,
a.top:hover,
a.top:active,
a.top-mobile:hover,
a.top-mobile:active {
  color: #333;
}

a.top {
  margin-top: 20px;
  cursor: pointer;
}

@media (min-width: 2000px) {
  footer {
    font-size: 3.5rem;
  }
}
